@import "colors";

.title {
  font-size: 2rem;
  line-height: 1.13;
  font-weight: 800;
  color: $black-1;
}

.sub-title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  color: $black-2;
}
