$mat-primary-palette: (
  50: #e8f9f1,
  100: #c5efdb,
  200: #9ee4c4,
  300: #77d9ac,
  400: #5ad19a,
  500: #3dc988,
  600: #37c380,
  700: #2fbc75,
  800: #27b56b,
  900: #1aa958,
  A100: #dfffec,
  A200: #acffcd,
  A400: #79ffaf,
  A700: #5fffa0,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$mat-accent-palette: (
  50: #f1f1f1,
  100: #dddddd,
  200: #c6c6c6,
  300: #afafaf,
  400: #9d9d9d,
  500: #8c8c8c,
  600: #848484,
  700: #797979,
  800: #6f6f6f,
  900: #5c5c5c,
  A100: #fad3d3,
  A200: #f5a5a5,
  A400: #ff6868,
  A700: #ff4e4e,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);

$mat-error-palette: (
  50: #fff1ed,
  100: #ffddd3,
  200: #ffc6b6,
  300: #ffaf99,
  400: #ff9e83,
  500: #ff8d6d,
  600: #ff8565,
  700: #ff7a5a,
  800: #ff7050,
  900: #ff5d3e,
  A100: #fff,
  A200: #fff,
  A400: #ffeae6,
  A700: #ffd4cd,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);
