<div class="full-container" fxLayoutAlign="center center">
  <div class="full-content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="header" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
      <span class="title">Angular</span>
      <span class="sub-title">for</span>
    </div>
    <div class="company-logo-container">
      <span class="title company-logo">Scoperty</span>
    </div>
    <div class="content-zone" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="file-input-container fill-width constrained">
        <mat-form-field appearance="outline" class="mat-form-field-disabled fill-width file-input" floatLabel="never"
                        disabled="true">
          <input matInput readonly [value]="fileName">
          <input matSuffix class="file-input-trigger" type="file" (change)="uploadFileAction($event)">
        </mat-form-field>
      </div>
      <div class="content-area-container fill-width constrained">
        <mat-form-field appearance="fill" class="content-area elevated fill-width">
          <mat-label>Content</mat-label>
          <textarea matInput [value]="content" rows="4" (input)="contentUpdateAction($event)"></textarea>
        </mat-form-field>
      </div>
      <div class="tree-view fill-width constrained" fxLayoutAlign="center start">
        {{ treeString }}
      </div>
    </div>
  </div>
</div>
